<ion-header>
  <ion-navbar>
    <ion-title>
      Tap 2, Press 4 Times
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <h3>Enter the right Code</h3>
                
                <p *ngIf="!didWin()">Tap twice, press four times</p>
                <p *ngIf="didWin()">You Won!</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <p>Tapped:  {{ tapped }}</p>
                    </ion-item>
                    <ion-item>
                        <p>Pressed:  {{ pressed }}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <!-- reset.component.ts -->
    <app-reset (didReset)="onDidReset($event)"></app-reset>
    <ion-row>
        <ion-col style="background-color: lightgreen" text-center (tap)="onTap()">Tap here</ion-col>
        <ion-col style="background-color: lightgreen" text-center (press)="onPress()">Press here</ion-col>
    </ion-row>
</ion-content>
